{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container main_wrap">
    <div class="row center_contents">
        <div class="ruby_wrap">
            <h1 class="main_title intro_fadein">Ruby Moon</h1>
            <img class="center_logo intro_fadein" src="{% static '\images\rubymoon_logo.png' %}" alt="">

            <div class="store_pages_wrap intro_fadein">
                <div class="sp_wrap1">
                    <a href="{% url 'products' %}?category=hairdye" class="store_buttons hairdye tooltipped"
                        data-position="left" data-tooltip="Hairdye">
                        <img class="store_icons" src="{% static '\images\hairdye_icon.png' %}" alt="">
                    </a>
                    <a href="{% url 'products' %}?category=incense" class="store_buttons tooltipped"
                        data-position="bottom" data-tooltip="Incense">
                        <img class="store_icons" src="{% static '\images\incense_icon.png' %}" alt="">
                    </a>
                </div>
                <div class="sp_wrap2">
                    <a href="{% url 'products' %}?category=oils" class="store_buttons tooltipped" data-position="bottom"
                        data-tooltip="Oils">
                        <img class="store_icons" src="{% static '\images\oil_icon.png' %}" alt="">
                    </a>
                    <a href="{% url 'products' %}?category=clothing" class="store_buttons tooltipped" data-position="right" data-tooltip="Clothing">
                        <img class="store_icons" src="{% static '\images\voucher_icon.png' %}" alt="">
                    </a>
                </div>
            </div>


            <div class="about_wrap intro_fadein">
                <h3 class="about_title">ABOUT RUBY MOON</h3>
                <p class="about_para">
                    <span class="highlight_text">Ruby Moon and Daughter Ltd.</span> is a small independant <span class="highlight_text">family business founded in 1998.</span>
                    We <span class="highlight_text">pride ourselves</span> on our <span class="highlight_text">customer service</span> and <span class="highlight_text">friendly nature.</span> Based in the top end of
                    High Wycombe, near the train station, we are <span class="highlight_text">Wycombe’s best kept secret!</span>
                    The shops smells amazing! An aroma full of <span class="highlight_text">exotic incenses.</span> It’s a festival, a happy go lucky,
                    wonderful <span class="highlight_text">eclectic mix of colour, sounds and smells.</span> It’s definitely not Eden, or any other clone
                    shopping “experience”. Our stock is <span class="highlight_text">fair traded</span> and <span class="highlight_text">ethically sourced</span> whener possible. We have
                    contact lenses, Alchemy Jewellery and lots of fairies. We sell Shisha Molasses and Charcoal, Hookahs
                    and Pipes. We have a <span class="highlight_text">range of over 250 incences</span> and more than <span class="highlight_text">30 different rolling papers.</span> Our
                    clothing is <span class="highlight_text">fairtraded and colourful.</span> We are one of the <span class="highlight_text">last outposts of alternative culture</span> in High
                    Wycombe. Be part of it and join us.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="oil_shop_wrap row">

</div>

{% endblock %}