{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hairdye__store_wrap">
    <div class="container">
        <div class="container">
            <div class="hairdye__title_wrap">
                <!-- <h1 class="title__hairdye_store">Products</h1> -->

                {% for current_cat in current_categories %}
                <h3 style="text-align: center;" class="current_category_tag">{{ current_cat.clean_name }}</h3>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Tags to other categories -->

    <!-- <div class="container category_tag_wrap">
        <div class="store_pages_wrap">
            <div class="sp_wrap1">
                <a href="{% url 'products' %}?category=hairdye" class="store_buttons hairdye tooltipped"
                    data-position="left" data-tooltip="Hairdye">
                    <img class="store_icons" src="{% static '\images\hairdye_icon.png' %}" alt="">
                </a>
                <a href="{% url 'products' %}?category=incense" class="store_buttons tooltipped"
                    data-position="bottom" data-tooltip="Incense">
                    <img class="store_icons" src="{% static '\images\incense_icon.png' %}" alt="">
                </a>
            </div>
            <div class="sp_wrap2">
                <a href="{% url 'products' %}?category=oils" class="store_buttons tooltipped" data-position="bottom"
                    data-tooltip="Oils">
                    <img class="store_icons" src="{% static '\images\oil_icon.png' %}" alt="">
                </a>
                <a href="{% url 'products' %}?category=gift_vouchers" class="store_buttons tooltipped" data-position="right" data-tooltip="Gift Vouchers">
                    <img class="store_icons" src="{% static '\images\voucher_icon.png' %}" alt="">
                </a>
            </div>
        </div>

    </div> -->



    <!-- Sort products by price or rating -->
    <div class="container sort">
        <div class="sort_wrap">
            <p class="sort_by">Sort By |
                <a class="sort_tags" href="{% url 'products' %}?sort=price&direction=asc">Price</a>
                <a class="sort_tags" href="{% url 'products' %}?sort=rating&direction=asc">Rating</a>
            </p>
        </div>
    </div>


    <div class="container hairdye_wrap">
        <div class="row product__hairdye">

            {% for product in store_products %}
            <div class="card intro_fadein">
                {% if product.image %}
                <a class="card-image" href="{% url 'product_info' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <div class="card-image">
                    <img src="{{ MEDIA_URL }}rubymoon_logo.png">
                </div>
                {% endif %}
                <p class="hairdye__productName">{{ product.name }}</p>
                <div class="price_wrap">
                    <p class="hairdye__productPrice">Price</p>
                    <span class="dots">. . . . . . . . . . . . . . . . </span>
                    <p class="hairdye__price">£{{ product.price }}</p>

                </div>
                <div class="card-content product_description">
                    <p>{{ product.description }}</p>
                </div>

                <div class="row">
                    <p class="rating">
                        <i class="material-icons">star_border</i>
                        Rating
                        <span class="dots">. . . . . . . . . . . . . . </span>
                        {{ product.rating }}
                    </p>
                    <p class="category_tag">
                        {% if product.category %}
                        <a class="cat_tag" href="{% url 'products' %}?category={{ product.category.name }}">
                            <em>{{ product.category.clean_name }}</em>
                        </a>
                        {% endif %}
                    </p>
                </div>

                <button class="card-action buyButton__hairdye" style="z-index: 10;">
                    <a style="color: #fff;" href="{% url 'add_to_cart' product.id %}">Buy</a>
                </button>
            </div>
            {% endfor %}


        </div>
    </div>

</div>
{% endblock %}